*.cache
*.cachefile
*.docstates
*.ncrunchsolution
*.pdb
*.suo
*.user
bin/
obj/
_[Rr]e[Ss]harper.*
*.appx
*.appxupload
*.appxsym
*.log
*.backup
*.nupkg
*.scgdat
AppPackages/
DansLibGit2SharpKey.snk
LibGit2Sharp.il
packages/
.vs/