<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DansUtilityLibraries.CSharpLibrary" version="1.1.2.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net45" />
  <package id="QuickConverter" version="0.8.0.0" targetFramework="net45" />
</packages>